.titulo{
    color: blue;
    font-size: 2em;
    text-align: center;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tarjeta-mokepon{
        width: 100px;
    height: 100px;
    background: aqua;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
}
input{
    display: none;
}
