@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #041562;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.subtitulo{
    color: white;
    font-size: 32px;

}
.titulo{
    color: blue;
    font-size: 2em;
    text-align: center;
      font-family: "Fredoka", sans-serif;
}
.tarjeta-mokepon{
    width: 180px;
    height: 100px;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.tarjeta-mokepon img{
    width: 80px;
    height: 80px;
}

.contenedor-tarjetas{
    display: flex;
    gap: 10px;
}
input{
    display: none;
}

#boton-mascota{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    
}
